/*------------------------------------------------------------------
[Included Compass CSS Authoring Framework - http://compass-style.org/]
*/
@import "compass";

/*------------------------------------------------------------------
[Table of contents]

0.1 Fonts
0.2 Color codes

1.0 Base styles
  1.1 Buttons
  1.2 Pagination
2.0 Header
  2.1 Navbar
3.0 Slider
4.0 Modal (popup lightbox)
5.0 Service section
6.0 Portfolio section
7.0 Clients section
8.0 Pricing section
9.0 Team section
10.0 Blog section
11.0 About Us section
12.0 Contact Us section
13.0 Map section
14.0 Footer
15.0 Responsive
  15.1 Responsive for 1200px
  15.2 Responsive for 991px
  15.3 Responsive for 768px
  15.4 Responsive for 680px
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[0.1 Fonts / https://fonts.google.com/]
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

$Pacifico: 'Pacifico', cursive;

/*------------------------------------------------------------------
[0.2 Color codes]
*/
$white:        #ffffff;
$black:        #333333;
$gray:         #888888;
$light-gray:   #666666;
$light-gray2:  #dddddd;
$light-gray3:  #f2f2f2;
$orange:       #fa6900;
$border-color: #cecece;

/*------------------------------------------------------------------
[1.0 Base styles]
*/
body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: $black;
	padding-top: 100px;
}

.trs {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: url('../images/transparent.png') repeat-x left center;
}

*:focus {
    outline: none;
    outline-color: $orange;
}

a {
	&:focus {
		outline-color: $orange;
	}
}

section {
	float: left;
	width: 100%;
}

p {
	margin-bottom: 30px;
}

.icon-bar {
	background: $orange;
}

.navbar-toggle {
	border-color: $orange;
	margin-right: 0;
	margin-top: 11px;
}

.text-center {
	text-align: center;
}

/*------------------------------------------------------------------
[1.1 Buttons]
*/
.btn {
	display: inline-block;
	width: 170px;
	text-align: center;
	background: none;
	padding: 13px 0;
	text-transform: uppercase;
	@include border-radius(5px);
}

.white-btn {
	background: $white;
	color: $orange;
	&:focus,
	&:hover {
		background: url('../images/o-btn-bg.png') repeat-x;
		color: $white;
		text-decoration: none;
	}
}

.orange-btn {
	background: url('../images/o-btn-bg.png') repeat-x;
	color: $white;
	&:focus,
	&:hover {
		background: $white;
		color: $orange;
		text-decoration: none;
	}
}

.orange-btn-line {
	color: $orange;
	border: 2px $orange solid;
	padding: 11px 20px;
	&:focus,
	&:hover {
		background: $orange;
		color: $white;
		text-decoration: none;
	}
}
 
.gray-btn {
	color: #cccccc;
	border: 2px $light-gray2 solid;
	padding: 11px 20px;
	&:focus,
	&:hover {
		color: $white;
		background: $light-gray2;
		text-decoration: none;
	}
}

/*------------------------------------------------------------------
[1.2 Pagination]
*/
.pagination {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	ul {
		display: inline-block;
		margin: 0 15px 0 0;
		padding: 0;
		li {
			display: inline-block;
			list-style: none;
			margin: 0 1px;
			line-height: 27px;
			a {
				display: inline-block;
				width: 30px;
				height: 30px;
				border: 1px $orange solid;
				text-align: center;
				color: $orange;
				font-weight: bold;
				&:hover {
					text-decoration: none;
					background: $orange;
					color: $white;
				}
			}
			&.active {
				a {
					text-decoration: none;
					background: $orange;
					color: $white;
				}
			}
		}
	}
	.navigate {
		color: #888888;
		text-transform: uppercase;
		a {
			color: #888888;
		}
	}
}

/*------------------------------------------------------------------
[2.0 Header]
*/
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	float: left;
	display: inline-block;
	width: 100%;
	height: 100px;
	background: $white url('../images/hbg-line.png') repeat-x left bottom;
	@include transition(all 0.1s ease);
	&.scroll {
		height: 55px;
		@include transition(all 0.5s ease);
		.navbar-nav {
			> li {
				> a {
					padding: 18px 0 17px;
					@include transition(all 0.5s ease);
				}
			}
		}
		.navbar-brand {
			margin-top: 10px;
			@include transition(all 0.5s ease);
			img {
				width: 90px;
				@include transition(all 0.5s ease);
			}
		}
	}
}

/*------------------------------------------------------------------
[2.1 Navbar]
*/
.navbar-brand {
	padding: 0;
	margin-top: 27px;
	@include transition(all 0.1s ease);
	img {
		width: 117px;
		@include transition(all 0.1s ease);
	}
}

.navbar {
	border: 0;
	min-height: auto;
	margin: 0;
}

.navbar-nav {
	> li {
		margin-left: 44px;
		> a {
			text-transform: uppercase;
			color: $gray;
			font-weight: bold;
			padding: 40px 0;
			@include transition(all 0.1s ease);
			&:focus,
			&:hover {
				color: $black;
				background: none;
			}
		}
		&:first-child {
			margin-left: 0;
		}
		&.active {
			background: url('../images/orange-line.png') repeat-x left bottom;
			> a {
				color: $black;
			}
		}
	}
}

/*------------------------------------------------------------------
[3.0 Slider]
*/
.slider {
	.slide {
		position: relative;
		width: 100%;
		height: 550px;
		text-align: center;
		background-repeat: no-repeat;
		background-position: center center;
		@include background-size(cover);
		.slide-text {
			display: inline-block;
			margin-top: 172px;
		}
		h2 {
			font-family: $Pacifico;
			font-size: 54px;
			color: $white;
			font-weight: normal;
			text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
			margin: 0;
			padding: 0;
		}
		p {
			font-size: 18px;
			color: #eaccad;
			text-transform: uppercase;
			text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
		}
		.btn {
			margin: 0 4px;
		}
	}
}

.slick-arrow {
	position: absolute;
	width: 60px;
	height: 60px;
	border: 0;
	text-indent: -9999px;
	top: 50%;
	margin-top: -30px;
	z-index: 1000;
	&.slick-prev {
		left: 40px;
		background: url('../images/left.png') no-repeat;
	}
	&.slick-next {
		right: 40px;
		background: url('../images/right.png') no-repeat;
	}
}


.slick-dots {
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 0;
	text-align: center;
	padding: 0;
	li {
		display: inline-block;
		list-style: none;
		width: 12px;
		height: 12px;
		background: $white;
		border: 0;
		text-indent: -9999px;
		@include border-radius(50%);
		margin: 0 10px;
		&.slick-active {
			background: $orange;
		}
	}
}

/*------------------------------------------------------------------
[4.0 Modal]
*/
.modal-backdrop {
	z-index: 10400;
}

.modal {
	z-index: 10500;
	.modal-dialog {
		@include border-radius(3px);
		img {
			width: 100%;
			@include border-radius(3px 3px 0 0);
		}
		p {
			margin-bottom: 0;
		}
	}
}

.modal-header {
	border: 0;
	padding-bottom: 0;
	text-align: center;
	h3 {
		font-size: 20px;
		margin-bottom: 3px;
	}
	h4 {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: normal;
		margin: 0;
	}
}

.modal-footer {
	text-align: center;
}

/*------------------------------------------------------------------
[5.0 Service section]
*/
.services-section {
	float: left;
	display: inline-block;
	width: 100%;
	background: $light-gray3;
	border-bottom: 3px $border-color solid;
	padding: 50px 0;
}

.service-box {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 50px;
	padding-left: 75px;
	img {
		position: absolute;
		top: 5px;
		left: 0;
	}
	h3 {
		font-size: 16px;
		text-transform: uppercase;
		color: $orange;
		margin: 0 0 12px;
		padding: 0;
		line-height: 16px;
	}
	p {
		color: #b99072;
		line-height: 24px;
		margin: 0;
	}
}

.title {
	text-align: center;
	h2 {
		font-size: 30px;
		color: $black;
		margin: 0 0 8px;
		padding: 0;
		font-family: $Pacifico;
		font-weight: normal;
	}
	p {
		margin: 0 0 25px;
		text-transform: uppercase;
	}
	.subtitle {
		margin: 0;
		text-transform: uppercase;
	}
}

/*------------------------------------------------------------------
[6.0 Portfolio section]
*/
.portfolio-section {
	padding: 80px 0 50px;
	h2 {
		font-size: 30px;
		color: $black;
		margin: 0 0 8px;
		padding: 0;
		font-family: $Pacifico;
		font-weight: normal;
	}
	.subtitle {
		color: $light-gray;
		margin-bottom: 30px;
	}
	p {
		color: $gray;
		line-height: 30px;
		margin: 0 0 25px; 
	}
}

.portfolio-description {
	margin-bottom: 30px;
}

.ref {
	text-align: center;
	img {
		width: 200px;
		height: 200px;
		@include border-radius(100px);
	}
	h3 {
		margin-bottom: 0;
		font-size: 20px;
	}
	p {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 22px;
		color: $light-gray;
		margin-bottom: 45px;
		min-height: 44px;
	}
}

/*------------------------------------------------------------------
[7.0 Clients section]
*/
.clients-section {
	float: left;
	display: inline-block;
	width: 100%;
	padding: 48px 0;
	background: $orange;
	color: $white;
	position: relative;
	&:after {
	  content: "";
	  background: url('../images/client-bg.jpg') no-repeat center center;
	  @include background-size(cover);
	  @include opacity(0.25);
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute; 
	  width: 100%;
	  height: 100%;  
	}
	img {
		margin: 27px 0;
	}
	h2 {
		font-size: 30px;
    	margin: 50px 0 0;
    	padding: 0;
    	font-weight: normal;
    	font-family: $Pacifico;
	}
	p {
		text-transform: uppercase;
		color: #ffc9a0;
		font-size: 14px;
		margin-top: 8px;
	}
}

/*------------------------------------------------------------------
[8.0 Pricing section]
*/
.pricing-section {
	padding: 70px 0 90px;
}

.pricing-box {
	display: inline-block;
	width: 100%;
	border: 3px #dddddd solid;
	padding: 25px 0 20px;
	@include border-radius(2px);
	text-align: center;
	margin-top: 50px;
	h2 {
		margin: 0;
		padding: 0;
		font-size: 48px;
		line-height: 48px;
		color: #333333;
	}
	h3 {
		font-size: 24px;
		color: $orange;
		margin: 0;
		padding: 0;
		font-weight: normal;
    	font-family: $Pacifico;
	}
	p {
		text-transform: uppercase;
		color: #666666;
		font-size: 12px;
		margin: 8px 0 10px 0;
	}
	&.p1 {
		&:before {
			background: $white url('../images/icons/barbers_scissors-50g.png') no-repeat center center;
		}
	}
	&.p2 {
		&:before {
			background: $white url('../images/icons/comb-50g.png') no-repeat center center;
		}
	}
	&.p3 {
		&:before {
			background: $white url('../images/icons/hair_dryer-50g.png') no-repeat center center;
		}
	}
	&.p4 {
		&:before {
			background: $white url('../images/icons/barbers_chair-50g.png') no-repeat center center;
		}
	}
	&.p5 {
		&:before {
			background: $white url('../images/icons/hair_brush-50g.png') no-repeat center center;
		}
	}
	&.p6 {
		&:before {
			background: $white url('../images/icons/hair_clip-50g.png') no-repeat center center;
		}
	}
	&.p-icon {
		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 50%;
			margin: 25px 0 0 -25px;
			width: 50px;
			height: 50px;
			background-color: $white;
			background-size: 30px;
			border: 3px #dddddd solid;
			@include border-radius(90px);
		}
	}
	&:hover {
		border-color: $orange;
		&.p1 {
			&:before {
				background: $white url('../images/icons/barbers_scissors-50.png') no-repeat center center;
			}
		}
		&.p2 {
			&:before {
				background: $white url('../images/icons/comb-50.png') no-repeat center center;
			}
		}
		&.p3 {
			&:before {
				background: $white url('../images/icons/hair_dryer-50.png') no-repeat center center;
			}
		}
		&.p4 {
			&:before {
				background: $white url('../images/icons/barbers_chair-50.png') no-repeat center center;
			}
		}
		&.p5 {
			&:before {
				background: $white url('../images/icons/hair_brush-50.png') no-repeat center center;
			}
		}
		&.p6 {
			&:before {
				background: $white url('../images/icons/hair_clip-50.png') no-repeat center center;
			}
		}
		&.p-icon {
			&:before {
				border-color: $orange;
				background-size: 30px;
			}
		}
	}
}

/*------------------------------------------------------------------
[9.0 Team section]
*/
.team-section {
	float: left;
	display: inline-block;
	width: 100%;
	background: $light-gray3;
	padding: 60px 0;
}

.member {
	display: inline-block;
	width: 100%;
	text-align: center;
	img {
		border: 7px $white solid;
		@include border-radius(90px);
	}
	h4 {
		font-size: 18px;
		color: $orange;
		margin: 10px 0;
		padding: 0;
	}
	p {
		margin: 0 0 14px;
		color: #666666;
		font-size: 12px;
		padding: 0 50px;
	}
	.contact {
		display: inline-block;
		border: 1px $orange solid;
		@include border-radius(5px);
		color: $orange;
		text-transform: uppercase;
		font-size: 10px;
		padding: 5px 12px;
		font-weight: bold;
		margin-bottom: 18px;
		&:hover {
			color: $white;
			background: $orange;
			text-decoration: none;
		}
	}
	.social {
		display: inline-block;
		width: 100%;
		text-align: center;
		a {
			display: inline-block;
			height: 16px;
			margin: 0 5px;
			&.fb {
				width: 8px;
				background: url('../images/social/fb.png') no-repeat ;
			}
			&.tw {
				width: 16px;
				background: url('../images/social/tw.png') no-repeat;
			}
			&.in {
				width: 16px;
				background: url('../images/social/in.png') no-repeat;
			}
		}
	}
}

/*------------------------------------------------------------------
[10.0 Blog section]
*/
.blog-section {
	float: left;
	display: inline-block;
	width: 100%;
	padding: 80px 0;
	.title {
		margin-bottom: 50px;
	}
	article {
		display: inline-block;
		width: 100%;
		margin-bottom: 55px;
		img {
			@include border-radius(3px);
			margin-bottom: 20px;
		}
		h2 {
			font-size: 18px;
			font-weight: bold;
			margin: 0 0 6px;
			a {
				color: $orange
			}
		}
		.meta {
			display: inline-block;
			width: 100%;
			font-size: 13px;
			color: #999999;
			margin: 0 0 12px;
		}
		p {
			font-size: 14px;
			line-height: 24px;
			color: #666666;
			margin: 0 0 12px;
		}
		.read-more {
			float: right;
			color: $orange;
			font-weight: bold;
			font-size: 13px;
		}
	}
}

/*------------------------------------------------------------------
[11.0 About Us section]
*/
.about-section {
	float: left;
	display: inline-block;
	width: 100%;
	background: $light-gray3;
	.about-wrap {
		float: left;
		display: inline-block;
		width: 100%;
		.about-left {
			float: left;
			width: 50%;
			.slick-list {
				.slick-slide {
					height: 475px;
					background-repeat: no-repeat;
					background-position: center center;
					@include background-size(cover);
				}
			}
			img {
				width: 100%;
			}
		}
		.about-right {
			float: left;
			width: 50%;
			.about-right-content {
				float: left;
				width: 100%;
				max-width: 480px;
				height: 100%;
				padding: 45px 70px 40px;
				text-align: center;
			}
			p {
				font-size: 14px;
				color: #999999;
				line-height: 28px;
				margin-bottom: 15px;
			}
			i {
				display: inline-block;
				width: 100%;
				color: #666666;
				font-size: 13px;
				margin: 30px 0;
			}
			.img-responsive {
				display: inline-block;
			}
		}
	}
}

/*------------------------------------------------------------------
[12.0 Contact Us section]
*/
.contact-section {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 110px 0 95px;

    .title {
        text-align: left;
        margin: 15px 0 30px;
    }

    form {
        input {
            width: 100%;
            height: 50px;
            background: $light-gray3;
            border: 0;
            padding: 0 15px;
            margin-bottom: 24px;
            @include border-radius(5px);
        }

        textarea {
            width: 100%;
            height: 150px;
            background: $light-gray3;
            border: 0;
            padding: 18px 15px;
            @include border-radius(5px);
        }

        .btn {
            margin-top: 24px;
            border: 2px #fa6900 solid;
            background:transparent;
        }
    }

    .contact-info {
        color: #999999;
        font-size: 14px;

        span {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

/*------------------------------------------------------------------
[13.0 Map section]
*/
.map-section {
	float: left;
	width: 100%;
	#map {
		width: 100%;
		height: 450px;
		border: 0;
	}
}

/*------------------------------------------------------------------
[14.0 Footer]
*/
footer {
	float: left;
	display: inline-block;
	width: 100%;
	padding: 75px 0 40px;
	text-align: center;
	p {
		font-size: 14px;
		color: #999999;
		line-height: 28px;
	}
	.social {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		a {
			display: inline-block;
			height: 32px;
			margin: 0 12px;
			&.fb {
				width: 16px;
				background: url('../images/social/fb-b.png') no-repeat ;
			}
			&.tw {
				width: 32px;
				background: url('../images/social/tw-b.png') no-repeat;
			}
			&.in {
				width: 32px;
				background: url('../images/social/in-b.png') no-repeat;
			}
		}
	}
	.copy {
		font-size: 13px;
	}
}

/*------------------------------------------------------------------
[15.0 Responsive]
*/

/*------------------------------------------------------------------
[15.1 Responsive for 1200px]
*/
@media (max-width: 1200px) {
	.navbar-nav {
		> li {
			margin-left: 0;
			> a {
				margin-left: 22px;
			}
		}
	}
}

/*------------------------------------------------------------------
[15.2 Responsive for 991px]
*/
@media (max-width: 991px) {
	body {
		padding-top: 60px;
	}
	header {
		height: 60px;

		&.scroll {
			.navbar-nav {
				> li {
					> a {
						padding: 15px;
					}
				}
			}
		}
	}
	.navbar-brand {
		margin-top: 5px;
	}
	.slider {
		.slide {
			height: 450px;
			.slide-text {
				margin-top: 122px;
			}
		}
	}
	.navbar-nav {
		background: $white;
		> li {
			> a {
				border-bottom: 2px $border-color solid;
				margin: 0;
				padding: 15px;
			}
			&.active {
				> a {
					background: $orange;
					color: $white;
				}
			}
		}
	}
	.map-section {
		iframe {
			height: 350px;
		}
	}
	.about-section {
		.about-wrap {
			.about-left {
				width: 100%;
				.slick-list {
					max-height: 300px;
				}
			}
			.about-right {
				width: 100%;
				.about-right-content {
					float: left;
					width: 100%;
					max-width: 100%;
					height: 100%;
					padding: 45px 70px 40px;
				}
			}
		}
	}
}

/*------------------------------------------------------------------
[15.3 Responsive for 768px]
*/
@media (max-width: 768px) {
	.slider {
		.slide {
			h2 {
				font-size: 40px;
			}
		}
	}
	.map-section {
		#map {
			height: 250px;
		}
	}
	.blog-section {
		article {
			img {
				width: 100%;
			}
		}
	}
	.title {
		h2 {
			font-size: 24px;
		}
	}
	.pricing-box {
		h2 {
			font-size: 34px;
			line-height: 34px;
		}
	}
	.member {
		margin-bottom: 30px;
	}
	.portfolio-section,
	.pricing-section,
	.team-section,
	.blog-section,
	.contact-section {
		padding: 50px 0;
	}
	.clients-section {
		padding: 20px 0;
	}
	footer {
		padding: 50px 0 30px;
	}
}

/*------------------------------------------------------------------
[15.4 Responsive for 680px]
*/
@media (max-width: 680px) {
	.navbar-brand {
		margin-top: 12px;
		img {
			width: 90px;
		}
	}
	.slider {
		.slide {
			height: auto;
			padding-bottom: 100px;
			.slide-text {
				margin-top: 100px;
			}
			h2 {
				font-size: 32px;
				padding: 0 15px;
			}
			p {
				font-size: 14px;
				padding: 0 15px;
				margin-bottom: 20px;
			}
			.btn {
				margin-bottom: 10px;
			}
		}
	}
}